@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #96C7C1, #89B5AF);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto)repeat(5, 100px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(225, 225, 255, .75);
}

.calculator-grid > button:hover {
    background-color: rgba(225, 225, 255, .1);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.footer {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column;
    color: black;
    justify-content: space-around;
}

.footer a {
    color: blue;
    text-decoration: none;
}